h1, h2, h3, small, td {
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
}

table, td, th {
    border: 1px solid black;
}

tr:hover {
    background-color: lightblue;
}

body {
    background-image: linear-gradient(lavenderblush, pink, salmon);
}